<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <html>
        <head>
            <meta http-equiv="content-type" content="text/html" charset="UTF-8">
            <title>自动化平台</title>
            <style>body{text-align: center} </style>
        </head>
        <body>
            <div>
                <font size="1"></font>
                <h2>欢迎您使用自动化测试平台</h2>
            <!--<h1>Login</h1>-->
            <!--<form method="post" action="/login/">-->
                <!--{% csrf_token %}-->
                <!--<br> <input name="username" type="text" placeholder="账号" value="{{ username }}">-->
                <!--<br> <input name="password" type="password" placeholder="密码" value="{{ password }}">-->
                <!--{{ error }}-->
                <!--<br>-->
                <!--<br> <button id="submit" type="submit">submit</button>-->
            <!--</form>-->
            <form method="post" action ="/login/">
                {% csrf_token %}
                <br><a>用户名：</a>
                <input name="username" type="text"  placeholder="请输入账号" >
                <br><br><a>密 &nbsp;&nbsp; 码：</a>
                <input name="password" type="password" placeholder="请输入密码" >
                <br>{{ error }}<br><br>
                &nbsp;<button style="width:250px;height:28px;" id="submit" type="submit">登录</button>
            </form>
            </div>
        </body>
    </html>